.Toastify__toast-container--top-right {
    bottom: 4em!important;
    top: unset!important;
    right: 1em;
}

td, th {
    padding: 0 !important;
}

.m-r-10 {
    margin-right: 12px;
}

select.users-select {
    height: auto!important;
}

.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-content: center;
    background: #0000003b;
}

.preloader-wrapper.big {
    width: 164px;
    height: 164px;
}

circle-clipper .circle {
    border-width: 10px;
    border-color: #32937f;
}
